@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");


:root {
  --primary-blue: #0066cc;
  --text-gray: #6e6e73;
  --black: #1d1d1f;
  --white: #ffffff;
  --gradient: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  --font-title: 44px;
  --font-section-title: 24px;
  --font-card-title: 14px;
  --font-small: 12px;
  --font-medium: 17px;
  --font-large: 28px;
  --font-xlarge: 26px;
  --padding-section: 140px;
  --padding-item: 30px;
  --padding-button: 10px 12px;
  --padding-card: 16px 8px;
  --gap: 16px;
  --gap-small: 8px;
  --gap-medium: 12px;
  --gap-large: 20px;
  --border-radius: 20px;
  --border-radius-button: 90px;
  --item-height: 480px;
  --item-width: 500px;
  --accessory-height: 500px;
  --accessory-width: 400px;
  --shadow: 2px 4px 12px #00000014;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, serif;
}

.body {
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-large);
  height: 44px;
  width: 100vw;
}

.header nav a {
  text-decoration: none;
  color: var(--black);
  font-size: var(--font-small);
  font-weight: 400;
}

.info {
  text-align: center;
  padding: var(--gap) 0;
}

.rainbow-bg {
  width: 100%;
}

.store-gift {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px var(--padding-section);
}

.store__text1 {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.rainbow__text {
  color: transparent;
  background: var(--gradient);
  background-clip: text;
  font-size: var(--font-title);
  font-weight: 700;
}

.gray__text {
  font-size: var(--font-title);
  font-weight: 700;
  color: var(--text-gray);
}

.store-support {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap);
}

.store-support__icon {
  display: flex;
  gap: var(--gap);
  justify-content: space-between;
}

.store-support__text h2,
.store-support__text1 h2 {
  font-weight: 700;
  font-size: var(--font-card-title);
}

.store-support__text a,
.store-support__text1 a {
  font-weight: 400;
  font-size: var(--font-card-title);
  color: var(--primary-blue);
}

.store-support__text1 {
  display: flex;
  column-gap: var(--gap);
  justify-content: space-between;
}

.store-cards {
  display: flex;
  margin-bottom: 60px;
  padding-inline: var(--padding-section);
}

.store-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-card);
}

.store-card-image {
  width: 120px;
  height: 78px;
}

.store-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.store-card-title {
  font-size: var(--font-card-title);
  font-weight: 700;
  margin-top: 18px;
  text-align: center;
}

.latest-products-section,
.accessories-products-section,
.personalize-section,
.store-help,
.quick-links {
  padding-left: var(--padding-section);
  margin-bottom: 60px;
}

.latest-title,
.accessories-title,
.personalize-title,
.store-help-title {
  display: flex;
  gap: 4px;
  font-weight: 700;
  align-items: center;
  margin-bottom: 24px;
}

.latest-title h1,
.accessories-title h1,
.personalize-title h1 {
  color: transparent;
  background: var(--gradient);
  background-clip: text;
  font-size: var(--font-section-title);
}

.store-help-title h1 {
  color: var(--black);
  font-size: var(--font-section-title);
}

.latest-title p,
.accessories-title p,
.personalize-title p,
.store-help-title p {
  color: var(--text-gray);
  font-size: var(--font-section-title);
}

.latest-products,
.accessories-products,
.personalize-products,
.store-help-types {
  width: 100vw;
  display: flex;
  column-gap: var(--gap-large);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6,
.item7,
.item8,
.item9,
.item10,
.item11,
.item12,
.item13 {
  display: flex;
  flex-direction: column;
  height: var(--item-height);
  width: var(--item-width);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  row-gap: 10px;
  padding: var(--padding-item);
  border-radius: var(--border-radius);
  scroll-snap-align: start;
  flex-shrink: 0;
  box-shadow: var(--shadow);
}

.item1 {
  background-image: url(./store-images/store-card-40-iphone-16-pro-202409_GEO_US-latest1.jpeg);
  color: var(--white);
}

.item2 {
  background-image: url(./store-images/store-card-40-watch-s10-202409-latest2.jpeg);
  color: var(--black);
}

.item3 {
  background-image: url(./store-images/store-card-40-ipad-mini-202410-latest3.jpeg);
  color: var(--black);
}

.item4 {
  background-image: url(./store-images/store-card-40-macbook-pro-202410-latest4.jpeg);
  color: var(--white);
}

.item5 {
  background-image: url(./store-images/store-card-40-iphone-16-202409_GEO_US-latest5.jpeg);
  color: var(--white);
}

.item6 {
  background-image: url(./store-images/store-card-40-watch-ultra-202409_GEO_US-latest6.jpeg);
  color: var(--white);
}

.item7 {
  background-image: url(./store-images/store-card-40-ipad-air-202405-latest7.jpeg);
  color: var(--black);
}

.item8 {
  background-image: url(./store-images/store-card-40-mac-mini-202410-latest8.jpeg);
  color: var(--black);
}

.item9 {
  background-image: url(./store-images/store-card-40-ipad-pro-202405-latest9.jpeg);
  color: var(--white);
}

.item10 {
  background-image: url(./store-images/store-card-40-macbook-air-202402-10.jpeg);
  color: var(--black);
}

.item11 {
  background-image: url(./store-images/store-card-40-imac-202410-latest11.jpeg);
  color: var(--black);
}

.item12 {
  background-image: url(./store-images/store-card-40-vision-pro-202401-latest12.jpeg);
  color: var(--black);
}

.item13 {
  background-image: url(./store-images/store-card-40-watch-se-202412-latest13.jpeg);
  color: var(--black);
}

.item1 h2,
.item2 h2,
.item3 h2,
.item4 h2,
.item5 h2,
.item6 h2,
.item7 h2,
.item8 h2,
.item9 h2,
.item10 h2,
.item11 h2,
.item12 h2,
.item13 h2 {
  font-size: var(--font-xlarge);
  font-weight: 700;
}

.special-offer,
.free-engravings,
.explore {
  display: flex;
  flex-direction: column;
  height: var(--accessory-height);
  width: var(--accessory-width);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-shrink: 0;
  scroll-snap-align: start;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.special-offer {
  background-image: url(./store-images/store-card-40-valentines-accessories-400x500-special_offer.jpeg);
}

.free-engravings {
  background-image: url(./store-images/personalize-title-img.jpeg);
}

.explore {
  background-image: url(./store-images/explore.jpeg);
  align-items: center;
}

.special-offer h4,
.free-engravings h4 {
  font-size: var(--font-small);
  font-weight: 700;
  color: var(--text-gray);
  padding-bottom: var(--gap-small);
}

.special-offer p,
.free-engravings p {
  font-size: var(--font-large);
  color: var(--black);
  font-weight: 600;
}

.explore h4 {
  font-size: var(--font-large);
  font-weight: 500;
  color: var(--black);
  padding-top: 40px;
}

.accessories-item,
.personalize-item {
  display: flex;
  flex-direction: column;
  height: var(--accessory-height);
  width: var(--accessory-width);
  border-radius: var(--border-radius);
  scroll-snap-align: start;
  flex-shrink: 0;
}

.item-contents,
.personalize-contents {
  background-color: var(--white);
  border-radius: 18px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--accessory-height);
  width: var(--accessory-width);
}

.accessories-item-image,
.personalize-item-image {
  height: 321px;
  width: 253px;
}

.personalize5-item-image,
.personalize6-item-image {
  height: 351px;
  width: 353px;
}

.accessories-item-image img,
.personalize-item-image img,
.personalize5-item-image img,
.personalize6-item-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.accessories-item-description,
.personalize-item-description {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-large);
}

.item__name__description {
  font-weight: 600;
}

.personalize__title {
  color: lightcoral;
}

.apple-specialist,
.specialist-video,
.today-at-apple,
.guidance,
.genius-bar {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: var(--accessory-height);
  width: 480px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  scroll-snap-align: start;
  flex-shrink: 0;
}

.apple-specialist {
  background-image: url(./store-images/apple-specialist.jpeg);
  padding-top: var(--padding-item);
}

.specialist-video {
  background-image: url(./store-images/specialist-video.jpeg);
  padding: 34px;
}

.today-at-apple {
  background-image: url(./store-images/toady-at-apple.jpeg);
  padding-top: var(--padding-item);
}

.guidance {
  background-image: url(./store-images/guidance.jpeg);
  padding-top: var(--padding-item);
}

.genius-bar {
  background-image: url(./store-images/genius-bar.jpeg);
  padding-top: 60px;
}

.apple-specialist h3,
.today-at-apple h3,
.guidance h3 {
  font-size: var(--font-small);
  padding-bottom: var(--gap-small);
  color: var(--text-gray);
}

.apple-specialist p,
.today-at-apple p,
.guidance p,
.genius-bar p {
  font-size: var(--font-large);
  color: var(--black);
  font-weight: 600;
}

.specialist-video h3 {
  font-size: var(--font-large);
  font-weight: 600;
}

.specialist-video p {
  font-size: var(--font-medium);
  font-weight: 400;
}

.quick-links {
  display: flex;
  flex-direction: column;
}

.quick-links div {
  font-size: var(--font-large);
  font-weight: 600;
  padding-bottom: var(--gap-large);
}

.quick-buttons {
  display: flex;
  column-gap: var(--gap-medium);
}

.quick-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-button);
  border: solid var(--black);
  column-gap: var(--gap-small);
  padding: var(--padding-button);
  background-color: transparent;
}

.quick-buttons img {
  height: var(--gap-small);
  width: var(--gap-small);
}
