@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, serif;
}
.body {
  overflow: hidden;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 44px;
  width: 100vw;
}
.header nav a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-weight: 400;
}
.info {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
.rainbow-bg {
  width: 100%;
}
.store-gift {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 140px;
}
.store__text1 {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}
.rainbow__text {
  color: transparent;
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  font-size: 44px;
  font-weight: 700;
}
.gray__text {
  font-size: 44px;
  font-weight: 700;
  color: gray;
}
.store-support {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.store-support__icon {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}
.store-support__text h2 {
  font-weight: 700;
  font-size: 14px;
}
.store-support__text a {
  font-weight: 400;
  font-size: 14px;
  color: #0066cc;
}
.store-support__text1 h2 {
  font-weight: 700;
  font-size: 14px;
}
.store-support__text1 a {
  font-weight: 400;
  font-size: 14px;
  color: #0066cc;
}
.store-support__text1 {
  display: flex;
  column-gap: 16px;
  justify-content: space-between;
}
.store-cards {
  display: flex;
  margin-bottom: 60px;
  padding-inline: 140px;
}
.store-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 8px;
}
.store-card-image {
  width: 120px;
  height: 78px;
}
.store-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.store-card-title {
  font-size: 14px;
  font-weight: 700;
  margin-top: 18px;
  text-align: center;
}
.latest-products-section {
  padding-left: 140px;
  margin-bottom: 60px;
}
.latest-title {
  display: flex;
  gap: 4px;
  font-weight: 700;
  align-items: center;
  margin-bottom: 24px;
}
.latest-title h1 {
  color: transparent;
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  font-size: 24px;
}
.latest-title p {
  color: #6e6e73;
  font-size: 24px;
}
.latest-products {
  width: 100vw;
  display: flex;
  column-gap: 20px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.item1 {
  display: flex;
  flex-direction: column;
  height: 480px;
  width: 500px;
  background-image: url(./store-images/store-card-40-iphone-16-pro-202409_GEO_US-latest1.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  row-gap: 10px;
  padding: 30px;
  border-radius: 20px;
  scroll-snap-align: start;
  flex-shrink: 0;
  box-shadow: 2px 4px 12px #00000014;
}
.item1 h2 {
  font-size: 26px;
  font-weight: 700;
}
.item2 {
  display: flex;
  flex-direction: column;
  height: 480px;
  width: 500px;
  background-image: url(./store-images/store-card-40-watch-s10-202409-latest2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  row-gap: 10px;
  padding: 30px;
  border-radius: 20px;
  scroll-snap-align: start;
  flex-shrink: 0;
  box-shadow: 2px 4px 12px #00000014;
}
.item2 h2 {
  font-size: 26px;
  font-weight: 700;
}
.item3 {
  display: flex;
  flex-direction: column;
  height: 480px;
  width: 500px;
  background-image: url(./store-images/store-card-40-ipad-mini-202410-latest3.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  row-gap: 10px;
  padding: 30px;
  border-radius: 20px;
  scroll-snap-align: start;
  flex-shrink: 0;
  box-shadow: 2px 4px 12px #00000014;
}
.item3 h2 {
  font-size: 26px;
  font-weight: 700;
}
.item4 {
  display: flex;
  flex-direction: column;
  height: 480px;
  width: 500px;
  background-image: url(./store-images/store-card-40-macbook-pro-202410-latest4.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  row-gap: 10px;
  padding: 30px;
  border-radius: 20px;
  scroll-snap-align: start;
  flex-shrink: 0;
  box-shadow: 2px 4px 12px #00000014;
}
.item4 h2 {
  font-size: 26px;
  font-weight: 700;
}
.item5 {
  display: flex;
  flex-direction: column;
  height: 480px;
  width: 500px;
  background-image: url(./store-images/store-card-40-iphone-16-202409_GEO_US-latest5.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  row-gap: 10px;
  padding: 30px;
  border-radius: 20px;
  scroll-snap-align: start;
  flex-shrink: 0;
  box-shadow: 2px 4px 12px #00000014;
}
.item5 h2 {
  font-size: 26px;
  font-weight: 700;
}
.item6 {
  display: flex;
  flex-direction: column;
  height: 480px;
  width: 500px;
  background-image: url(./store-images/store-card-40-watch-ultra-202409_GEO_US-latest6.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  row-gap: 10px;
  padding: 30px;
  border-radius: 20px;
  scroll-snap-align: start;
  flex-shrink: 0;
  box-shadow: 2px 4px 12px #00000014;
}
.item6 h2 {
  font-size: 26px;
  font-weight: 700;
}
.item7 {
  display: flex;
  flex-direction: column;
  height: 480px;
  width: 500px;
  background-image: url(./store-images/store-card-40-ipad-air-202405-latest7.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  row-gap: 10px;
  padding: 30px;
  border-radius: 20px;
  scroll-snap-align: start;
  flex-shrink: 0;
  box-shadow: 2px 4px 12px #00000014;
}
.item7 h2 {
  font-size: 26px;
  font-weight: 700;
}
.item8 {
  display: flex;
  flex-direction: column;
  height: 480px;
  width: 500px;
  background-image: url(./store-images/store-card-40-mac-mini-202410-latest8.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  row-gap: 10px;
  padding: 30px;
  border-radius: 20px;
  scroll-snap-align: start;
  flex-shrink: 0;
  box-shadow: 2px 4px 12px #00000014;
}
.item8 h2 {
  font-size: 26px;
  font-weight: 700;
}
.item9 {
  display: flex;
  flex-direction: column;
  height: 480px;
  width: 500px;
  background-image: url(./store-images/store-card-40-ipad-pro-202405-latest9.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  row-gap: 10px;
  padding: 30px;
  border-radius: 20px;
  scroll-snap-align: start;
  flex-shrink: 0;
  box-shadow: 2px 4px 12px #00000014;
}
.item9 h2 {
  font-size: 26px;
  font-weight: 700;
}
.item10 {
  display: flex;
  flex-direction: column;
  height: 480px;
  width: 500px;
  background-image: url(./store-images/store-card-40-macbook-air-202402-10.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  row-gap: 10px;
  padding: 30px;
  border-radius: 20px;
  scroll-snap-align: start;
  flex-shrink: 0;
  box-shadow: 2px 4px 12px #00000014;
}
.item10 h2 {
  font-size: 26px;
  font-weight: 700;
}
.item11 {
  display: flex;
  flex-direction: column;
  height: 480px;
  width: 500px;
  background-image: url(./store-images/store-card-40-imac-202410-latest11.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  row-gap: 10px;
  padding: 30px;
  border-radius: 20px;
  scroll-snap-align: start;
  flex-shrink: 0;
  box-shadow: 2px 4px 12px #00000014;
}
.item11 h2 {
  font-size: 26px;
  font-weight: 700;
}
.item12 {
  display: flex;
  flex-direction: column;
  height: 480px;
  width: 500px;
  background-image: url(./store-images/store-card-40-vision-pro-202401-latest12.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  row-gap: 10px;
  padding: 30px;
  border-radius: 20px;
  scroll-snap-align: start;
  flex-shrink: 0;
  box-shadow: 2px 4px 12px #00000014;
}
.item12 h2 {
  font-size: 26px;
  font-weight: 700;
}
.item13 {
  display: flex;
  flex-direction: column;
  height: 480px;
  width: 500px;
  background-image: url(./store-images/store-card-40-watch-se-202412-latest13.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  row-gap: 10px;
  padding: 30px;
  border-radius: 20px;
  scroll-snap-align: start;
  flex-shrink: 0;
  box-shadow: 2px 4px 12px #00000014;
}
.item13 h2 {
  font-size: 26px;
  font-weight: 700;
}
.accessories-products-section {
  padding-left: 140px;
  margin-bottom: 60px;
}
.accessories-title {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 700;
  margin-bottom: 24px;
}
.accessories-title h1 {
  color: transparent;
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  font-size: 24px;
}
.accessories-title p {
  color: #6e6e73;
  font-size: 24px;
}
.accessories-products {
  width: 100vw;
  display: flex;
  column-gap: 20px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.special-offer {
  display: flex;
  flex-direction: column;
  background-image: url(./store-images/store-card-40-valentines-accessories-400x500-special_offer.jpeg);
  height: 500px;
  width: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-start;
  flex-shrink: 0;
  scroll-snap-align: start;
  border-radius: 20px;
  box-shadow: 2px 4px 12px #00000014;
}
.special-offer h4 {
  font-size: 12px;
  font-weight: 700;
  color: #6e6e73;
  padding-bottom: 8px;
}
.special-offer p {
  font-size: 28px;
  color: #1d1d1f;
  font-weight: 600;
}
.accessories-item {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 400px;
  border-radius: 20px;
  scroll-snap-align: start;
  flex-shrink: 0;
}
.item-contents {
  background-color: white;
  border-radius: 18px;
  box-shadow: 2px 4px 12px #00000014;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 400px;
}
.accessories-item-image {
  height: 321px;
  width: 253px;
}
.accessories-item-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.accessories-item-description {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.item__name__description {
  font-weight: 600;
}
.explore {
  display: flex;
  flex-direction: column;
  background-image: url(./store-images/explore.jpeg);
  height: 500px;
  width: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  flex-shrink: 0;
  scroll-snap-align: start;
  border-radius: 20px;
  box-shadow: 2px 4px 12px #00000014;
}
.explore h4 {
  font-size: 28px;
  font-weight: 500;
  color: black;
  padding-top: 40px;
}
.personalize-section {
  padding-left: 140px;
  margin-bottom: 60px;
}
.personalize-title {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 700;
  margin-bottom: 24px;
}
.personalize-title h1 {
  color: transparent;
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  font-size: 24px;
}
.personalize-title p {
  color: #6e6e73;
  font-size: 24px;
}
.personalize-products {
  width: 100vw;
  display: flex;
  column-gap: 20px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.free-engravings {
  display: flex;
  flex-direction: column;
  background-image: url(./store-images/personalize-title-img.jpeg);
  height: 500px;
  width: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-start;
  flex-shrink: 0;
  scroll-snap-align: start;
  border-radius: 20px;
  box-shadow: 2px 4px 12px #00000014;
}
.free-engravings h4 {
  font-size: 12px;
  font-weight: 700;
  color: #6e6e73;
  padding-bottom: 8px;
}
.free-engravings p {
  font-size: 28px;
  color: #1d1d1f;
  font-weight: 600;
}
.personalize-item {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 400px;
  border-radius: 20px;
  scroll-snap-align: start;
  flex-shrink: 0;
}
.personalize-contents {
  background-color: white;
  border-radius: 18px;
  box-shadow: 2px 4px 12px #00000014;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 400px;
}
.personalize-item-image {
  height: 321px;
  width: 253px;
}
.personalize-item-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.personalize-item-description {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 20px;
}
.item__name__description {
  font-weight: 600;
}
.personalize__title {
  color: lightcoral;
}
.personalize5-item-image {
  height: 351px;
  width: 353px;
}
.personalize5-item-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.personalize6-item-image {
  height: 351px;
  width: 353px;
}
.personalize6-item-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.store-help {
  padding-left: 140px;
  margin-bottom: 60px;
}
.store-help-title {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 700;
  margin-bottom: 24px;
}
.store-help-title h1 {
  color: black;
  font-size: 24px;
}
.store-help-title p {
  color: #6e6e73;
  font-size: 24px;
}
.store-help-types {
  width: 100vw;
  display: flex;
  column-gap: 20px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.apple-specialist {
  background-image: url(./store-images/apple-specialist.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 480px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 4px 12px #00000014;
  border-radius: 20px;
  scroll-snap-align: start;
  flex-shrink: 0;
  padding-top: 30px;
}
.apple-specialist h3 {
  font-size: 12px;
  padding-bottom: 8px;
  color: #6e6e73;
}
.apple-specialist p {
  font-size: 28px;
  color: black;
  font-weight: 600;
}
.specialist-video {
  background-image: url(./store-images/specialist-video.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 480px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 4px 12px #00000014;
  border-radius: 20px;
  scroll-snap-align: start;
  flex-shrink: 0;
  padding: 34px;
}
.specialist-video h3 {
  font-size: 28px;
  font-weight: 600;
}
.specialist-video p {
  font-size: 17px;
  font-weight: 400;
}
.today-at-apple {
  background-image: url(./store-images/toady-at-apple.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 480px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 4px 12px #00000014;
  border-radius: 20px;
  scroll-snap-align: start;
  flex-shrink: 0;
  padding-top: 30px;
}
.today-at-apple h3 {
  font-size: 12px;
  padding-bottom: 8px;
  color: #6e6e73;
}
.today-at-apple p {
  font-size: 28px;
  font-weight: 600;
}
.guidance {
  background-image: url(./store-images/guidance.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 480px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 4px 12px #00000014;
  border-radius: 20px;
  scroll-snap-align: start;
  flex-shrink: 0;
  padding-top: 30px;
}
.guidance h3 {
  font-size: 12px;
  padding-bottom: 8px;
  color: #6e6e73;
}
.guidance p {
  font-size: 28px;
  font-weight: 600;
}
.genius-bar {
  background-image: url(./store-images/genius-bar.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 480px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 4px 12px #00000014;
  border-radius: 20px;
  scroll-snap-align: start;
  flex-shrink: 0;
  padding-top: 60px;
}
.genius-bar p {
  font-size: 28px;
  font-weight: 600;
}
.quick-links {
  padding-left: 140px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
}
.quick-links div {
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 20px;
}
.quick-buttons {
  display: flex;
  column-gap: 12px;
}
.quick-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 90px;
  border: solid black;
  column-gap: 8px;
  padding: 10px 12px;
  background-color: transparent;
}
.quick-buttons img {
  height: 8px;
  width: 8px;
}
