@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, serif;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 44px;
  width: 100vw;
}
.navigation a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-weight: 400;
}
.info {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
.iphone-pro {
  background-image: url(./image/Iphone-pro-desktop.png);
  width: 100vw;
  height: 692px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  padding-block: 55px 36px;
}
.iphone-pro__text1 {
  font-size: 42px;
}
.iphone-pro__text2 {
  font-size: 22px;
}
.iphone-pro__buttons {
  padding-top: 16px;
}
.iphone-pro .button-blue {
  padding: 12px 20px;
  border-radius: 90px;
  background-color: #0071e3;
  border: #0071e3;
  color: white;
  cursor: pointer;
}
.iphone-pro .button-black {
  padding: 12px 20px;
  border-radius: 90px;
  background-color: transparent;
  color: #2997ff;
  border: solid #2997ff;
  cursor: pointer;
}
.iphone-16 {
  background-image: url(./image/Iphone-16.png);
  width: 100vw;
  height: 692px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 55px 36px;
  margin-top: 12px;
}
.iphone-16__text1 {
  font-size: 42px;
}
.iphone-16__text2 {
  font-size: 22px;
}
.iphone-16__buttons {
  padding-top: 16px;
}
.iphone-16 .button-blue {
  padding: 12px 20px;
  border-radius: 90px;
  background-color: #0071e3;
  border: #0071e3;
  color: white;
  cursor: pointer;
}
.iphone-16 .button-black {
  padding: 12px 20px;
  border-radius: 90px;
  background-color: transparent;
  color: #2997ff;
  border: solid #2997ff;
  cursor: pointer;
}
.gift-magic {
  width: 100vw;
  height: 692px;
  background-image: url(./image/Apple-sliced-logo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-block: 55px 36px;
  line-height: 0.8;
}
.gift-magic__text1 {
  display: block;
  font-size: 52px;
  color: black;
  font-weight: 600;
}
.gift-magic__text2 {
  display: block;
  font-size: 24px;
  color: black;
  font-weight: 400;
  margin-block: 16px 20px;
}
.gift-button {
  display: flex;
  column-gap: 16px;
}
.gift-button .button-blue {
  padding: 12px 20px;
  color: white;
  font-size: 16px;
  background-color: #0071e3;
  border-radius: 90px;
  border: #0071e3 solid;
}
.product-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 580px;
  margin-bottom: 12px;
  gap: 12px;
}

.airpods-2 {
  background-image: url(./image/Airpods-2-desktop.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-block: 48px 58px;
}
.airpods-2__text1 {
  color: white;
  font-size: 36px;
}
.airpods-2__text2 {
  color: white;
  font-size: 18px;
}
.airpods-2__buttons {
  padding-top: 10px;
  display: flex;
  gap: 16px;
}
.airpods-2__buttons .button__blue {
  border: solid #0071e3;
  background-color: #0071e3;
  border-radius: 90px;
  color: white;
  padding: 10px 16px;
}
.airpods-2__buttons .button__transparent {
  border: solid #2997ff;
  background-color: transparent;
  padding: 10px 20px;
  color: #2997ff;
  border-radius: 90px;
}

.macbook-air {
  background-image: url(./image/macbook-air-desktop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-block: 48px 58px;
}
.macbook-air__text1 {
  font-size: 36px;
  font-weight: 600;
}
.macbook-air__text2 {
  font-size: 18px;
  padding-block: 2px 16px;
}
.macbook-air__buttons {
  display: flex;
  gap: 16px;
  padding-top: 10px;
}
.macbook-air__buttons .button__blue {
  padding: 10px 16px;
  border: solid #0071e3;
  border-radius: 90px;
  background-color: #0071e3;
  color: white;
}
.macbook-air__buttons .button__transparent {
  padding: 10px 20px;
  border: solid #2997ff;
  color: #2997ff;
  border-radius: 90px;
  background-color: transparent;
}
.apple-watch {
  background-image: url(/image/watch-desktop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-block: 48px 58px;
}
.apple-logo-watch {
  height: 40px;
  width: 161px;
}
.apple.watch img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.apple-watch__text1 {
  font-size: 15px;
  font-weight: 700;
}
.apple-watch__text2 {
  padding-block: 2px 16px;
  font-size: 18px;
}
.apple-watch__buttons {
  display: flex;
  gap: 16px;
}
.apple-watch__buttons .button__blue {
  border: solid #0071e3;
  border-radius: 90px;
  background-color: #0071e3;
  padding: 10px 16px;
  color: white;
}
.apple-watch__buttons .button__transparent {
  border: solid #2997ff;
  border-radius: 90px;
  background-color: transparent;
  padding: 10px 20px;
  color: #2997ff;
}
.trade {
  background-image: url(./image/tradein-desktop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-block: 48px 58px;
}
.trade-image {
  width: 162px;
  height: 40px;
}
.trade-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.trade__text {
  padding-top: 2px;
  padding-bottom: 16px;
  font-size: 18px;
}
.trade__button {
  display: flex;
  column-gap: 16px;
}
.trade button {
  padding: 10px 16px;
  background-color: #0071e3;
  border: solid #0071e3;
  color: white;
  border-radius: 90px;
}
.small-business {
  background-image: url(./image/smallBusiness.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-block: 48px 58px;
}
.small-business__text1 {
  font-size: 30px;
  font-weight: 600;
}
.small-business__text2 {
  font-size: 18px;
  padding-block: 2px 16px;
}
.small-business__button {
  display: flex;
  column-gap: 16px;
}
.small-business__button .button__blue {
  padding: 10px 16px;
  border-radius: 90px;
  background-color: #0071e3;
  border: solid #0071e3;
  color: white;
}
.deals {
  background-image: url(./image/carrierDeals.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-block: 48px 58px;
}
.deals__title {
  font-size: 30px;
  font-weight: 600;
}
.deals__text {
  font-size: 18px;
  padding-block: 2px 16px;
}
.deals__button {
  display: flex;
  column-gap: 16px;
}
.deals__button button {
  color: white;
  padding: 12px 20px;
  border-radius: 90px;
  border: solid #0071e3;
  background-color: #0071e3;
}
.apple-tvshows {
  width: 100vw;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  column-gap: 15px;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}
.show-1 {
  background-image: url(./image/scroll-bad-sisters.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  height: 668px;
  width: 1250px;
  font-size: 20px;
  flex-shrink: 0;
  scroll-snap-align: center;
}
.show-1__contents {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 45px;
  bottom: 40px;
}
.show-1 button {
  padding: 12px 20px;
  font-size: 17px;
  border-radius: 90px;
  cursor: pointer;
  border: none;
  margin-right: 14px;
}
.show-1__span1 {
  font-weight: 700;
}
.show-2 {
  background-image: url(./image/scroll-shrinking.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 668px;
  width: 1250px;
  flex-shrink: 0;
  font-size: 20px;
  position: relative;
  scroll-snap-align: center;
}
.show-2__contents {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 45px;
  bottom: 40px;
}
.show-2 button {
  padding: 12px 20px;
  font-size: 17px;
  border-radius: 90px;
  cursor: pointer;
  border: none;
  margin-right: 14px;
}
.show-2__span1 {
  font-weight: 700;
}
.show-3 {
  background-image: url(./image/scroll-severance.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 668px;
  width: 1250px;
  flex-shrink: 0;
  font-size: 20px;
  position: relative;
  scroll-snap-align: center;
}
.show-3__contents {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 45px;
  bottom: 40px;
}
.show-3 button {
  padding: 12px 20px;
  font-size: 17px;
  border-radius: 90px;
  cursor: pointer;
  border: none;
  margin-right: 14px;
}
.show-3__span1 {
  font-weight: 700;
}
.show-4 {
  background-image: url(./image/scroll-mythic-quest.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 668px;
  width: 1250px;
  flex-shrink: 0;
  font-size: 20px;
  position: relative;
  scroll-snap-align: center;
}
.show-4__contents {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 45px;
  bottom: 40px;
}
.show-4 button {
  padding: 12px 20px;
  font-size: 17px;
  border-radius: 90px;
  cursor: pointer;
  border: none;
  margin-right: 14px;
}
.show-4__span1 {
  font-weight: 700;
}
.show-5 {
  background-image: url(./image/scroll-silo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 668px;
  width: 1250px;
  flex-shrink: 0;
  font-size: 20px;
  position: relative;
  scroll-snap-align: center;
}
.show-5__contents {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 45px;
  bottom: 40px;
}
.show-5 button {
  padding: 12px 20px;
  font-size: 17px;
  border-radius: 90px;
  cursor: pointer;
  border: none;
  margin-right: 14px;
}
.show-5__span1 {
  font-weight: 700;
}
.show-6 {
  background-image: url(./image/scroll-ted-lasso.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 668px;
  width: 1250px;
  flex-shrink: 0;
  font-size: 20px;
  position: relative;
  scroll-snap-align: center;
}
.show-6__contents {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 45px;
  bottom: 40px;
}
.show-6 button {
  padding: 12px 20px;
  font-size: 17px;
  border-radius: 90px;
  cursor: pointer;
  border: none;
  margin-right: 14px;
}
.show-6__span1 {
  font-weight: 700;
}
.show-7 {
  background-image: url(./image/scroll-to-the-moon.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 668px;
  width: 1250px;
  flex-shrink: 0;
  font-size: 20px;
  position: relative;
  scroll-snap-align: center;
}
.show-7__contents {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 45px;
  bottom: 40px;
}
.show-7 button {
  padding: 12px 20px;
  font-size: 17px;
  border-radius: 90px;
  cursor: pointer;
  border: none;
  margin-right: 14px;
}
.show-7__span1 {
  font-weight: 700;
}
.show-8 {
  background-image: url(./image/scroll-slow-horses.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 668px;
  width: 1250px;
  flex-shrink: 0;
  font-size: 20px;
  position: relative;
  scroll-snap-align: center;
}
.show-8__contents {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 45px;
  bottom: 40px;
}
.show-8 button {
  padding: 12px 20px;
  font-size: 17px;
  border-radius: 90px;
  cursor: pointer;
  border: none;
  margin-right: 14px;
}
.show-8__span1 {
  font-weight: 700;
}
.show-9 {
  background-image: url(./image/scroll-clooney-pits.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 668px;
  width: 1250px;
  flex-shrink: 0;
  font-size: 20px;
  position: relative;
  scroll-snap-align: center;
}
.show-9__contents {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 45px;
  bottom: 40px;
}
.show-9 button {
  padding: 12px 20px;
  font-size: 17px;
  border-radius: 90px;
  cursor: pointer;
  border: none;
  margin-right: 14px;
}
.show-9__span1 {
  font-weight: 700;
}
.show-10 {
  background-image: url(./image/scroll-prime-target.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 668px;
  width: 1250px;
  flex-shrink: 0;
  font-size: 20px;
  position: relative;
  scroll-snap-align: center;
}
.show-10__contents {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 45px;
  bottom: 40px;
}
.show-10 button {
  padding: 12px 20px;
  font-size: 17px;
  border-radius: 90px;
  cursor: pointer;
  border: none;
  margin-right: 14px;
}
.show-10__span1 {
  font-weight: 700;
}
.show-10__span3 {
  color: black;
}
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.buttons a {
  height: 10px;
  width: 10px;
  background-color: black;
  opacity: 0.6;
  border-radius: 50%;
  margin-inline: 8px;
}

@media only screen and (max-width: 768px) {
  .navigation {
    display: none;
  }
  .search-button {
    margin-left: auto;
  }
  .menu-button {
    display: block;
  }
  .info {
    padding-block: 12px;
  }
  .iphone-pro {
    background-image: url(./image/iphone-tablet.png);
    height: 650px;
  }
  .iphone-16 {
    background-image: url(./image/iphone-16-tablet.png);
    height: 650px;
  }
  .gift-magic {
    height: 650px;
    padding-top: 50px;
  }
  .gift-magic__text1 {
    font-size: 42px;
  }
  .gift-magic__text2 {
    padding-block: 4px 16px;
  }
  .product-container {
    grid-auto-rows: 490px;
  }
  .airpods-2 {
    padding-block: 42px;
  }
  .airpods-2__text1 {
    font-size: 26px;
    font-weight: 700;
  }
  .macbook-air {
    padding-block: 42px;
  }
  .macbook-air__text1 {
    font-size: 26px;
    font-weight: 700;
  }
  .apple-watch {
    padding-block: 42px;
    background-image: url(./image/watch-tablet.png);
  }
  .apple-watch__text2 {
    font-size: 18px;
  }
  .trade {
    padding-block: 42px;
  }
  .trade__text {
    font-size: 18px;
  }
  .small-business {
    padding-block: 42px;
  }
  .small-business__text1 {
    font-size: 26px;
    font-weight: 700;
  }
  .small-business__text2 {
    font-size: 18px;
  }
  .deals {
    padding-block: 42px;
  }
  .deals__title {
    font-size: 26px;
    font-weight: 700;
  }
  .deals__text {
    font-size: 18px;
  }
  .show-1 {
    height: 368px;
    width: 689px;
  }
  .show-1 button {
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 90px;
    cursor: pointer;
    border: none;
  }
  .show-2 {
    height: 368px;
    width: 689px;
  }
  .show-2 button {
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 90px;
    cursor: pointer;
    border: none;
  }
  .show-3 {
    height: 368px;
    width: 689px;
  }
  .show-3 button {
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 90px;
    cursor: pointer;
    border: none;
  }
  .show-4 {
    height: 368px;
    width: 689px;
  }
  .show-4 button {
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 90px;
    cursor: pointer;
    border: none;
  }
  .show-5 {
    height: 368px;
    width: 689px;
  }
  .show-5 button {
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 90px;
    cursor: pointer;
    border: none;
  }
  .show-6 {
    height: 368px;
    width: 689px;
  }
  .show-6 button {
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 90px;
    cursor: pointer;
    border: none;
  }
  .show-7 {
    height: 368px;
    width: 689px;
  }
  .show-7 button {
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 90px;
    cursor: pointer;
    border: none;
  }
  .show-8 {
    height: 368px;
    width: 689px;
  }
  .show-8 button {
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 90px;
    cursor: pointer;
    border: none;
  }
  .show-9 {
    height: 368px;
    width: 689px;
  }
  .show-9 button {
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 90px;
    cursor: pointer;
    border: none;
  }
  .show-10 {
    height: 368px;
    width: 689px;
  }
  .show-10 button {
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 90px;
    cursor: pointer;
    border: none;
  }
}

@media only screen and (max-width: 390px) {
  .navigation {
    display: none;
  }
  .info {
    padding: 0;
  }
  .iphone-pro {
    background-image: url(./image/iphone-mobile.png);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 36px;
    height: 500px;
  }
  .iphone-pro__text1 {
    font-size: 30px;
  }
  .iphone-pro__text2 {
    font-size: 18px;
  }
  .iphone-pro__buttons {
    font-size: 14px;
  }
  .iphone-16 {
    background-image: url(./image/iphone-16-mobile.png);
    height: 500px;
  }
  .iphone-16__text1 {
    font-size: 30px;
  }
  .iphone-16__text2 {
    font-size: 18px;
  }
  .iphone-16__buttons {
    font-size: 14px;
  }
  .gift-magic {
    height: 500px;
  }
  .gift-magic__text1 {
    font-size: 30px;
    font-weight: 700;
  }
  .gift-button {
    column-gap: 12px;
  }
  .button-blue {
    padding: 8px 16px;
  }
  .product-container {
    grid-template-columns: 1fr;
  }
  .airpods-2 {
    padding-block: 46px;
  }
  .airpods-2__text1 {
    font-size: 20px;
  }
  .macbook-air {
    padding-block: 46px;
  }
  .macbook-air__text1 {
    font-size: 20px;
  }
  .macbook-air__buttons {
    column-gap: 12px;
  }
  .macbook-air__buttons .button__blue {
    padding: 8px 16px;
  }
  .macbook-air__buttons .button__transparent {
    padding: 8px 16px;
  }
  .apple-watch {
    padding-block: 46px;
    background-image: url(./image/watch-mobile.png);
  }
  .apple-watch__buttons {
    gap: 12px;
  }
  .trade {
    padding-block: 46px;
  }
  .trade__button {
    column-gap: 16px;
  }
  .trade button {
    padding: 8px 16px;
  }
  .small-business {
    padding-block: 46px;
  }
  .small-business__button {
    column-gap: 12px;
  }
  .small-business__button .button__blue {
    padding: 8px 16px;
  }
  .deals {
    padding-block: 46px;
  }
  .deals__button {
    column-gap: 12px;
  }
  .deals__button button {
    padding: 8px 16px;
  }
  .show-1 {
    height: 495px;
    width: 274px;
    background-image: url(./image/548x1186-badsisters.jpg);
  }
  .show-1 button {
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 90px;
    cursor: pointer;
    border: none;
  }
  .show-1__span2,
  .show-1__span3 {
    display: none;
  }
  .show-2 {
    height: 495px;
    width: 274px;
    background-image: url(./image/548wx1186h-shrinking.jpg);
  }
  .show-2 button {
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 90px;
    cursor: pointer;
    border: none;
  }
  .show-2__span2,
  .show-2__span3 {
    display: none;
  }
  .show-3 {
    height: 495px;
    width: 274px;
    background-image: url(./image/548x1186-severance.jpg);
  }
  .show-3 button {
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 90px;
    cursor: pointer;
    border: none;
  }
  .show-3__span2,
  .show-3__span3 {
    display: none;
  }
  .show-4 {
    height: 495px;
    width: 274px;
    background-image: url(./image/548x1186-mythicquest.jpg);
  }
  .show-4 button {
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 90px;
    cursor: pointer;
    border: none;
  }
  .show-4__span2,
  .show-4__span3 {
    display: none;
  }
  .show-5 {
    height: 495px;
    width: 274px;
    background-image: url(./image/548x1186-silo.jpg);
  }
  .show-5 button {
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 90px;
    cursor: pointer;
    border: none;
  }
  .show-5__span2,
  .show-5__span3 {
    display: none;
  }
  .show-6 {
    height: 495px;
    width: 274px;
    background-image: url(./image/548x1186-tedlasso.jpg);
  }
  .show-6 button {
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 90px;
    cursor: pointer;
    border: none;
  }
  .show-6__span2,
  .show-6__span3 {
    display: none;
  }
  .show-7 {
    height: 495px;
    width: 274px;
    background-image: url(./image/548x1186-flytothemoon.jpg);
  }
  .show-7 button {
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 90px;
    cursor: pointer;
    border: none;
  }
  .show-7__span2,
  .show-7__span3 {
    display: none;
  }
  .show-8 {
    height: 495px;
    width: 274px;
    background-image: url(./image/548x1186-slowhorses.jpg);
  }
  .show-8 button {
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 90px;
    cursor: pointer;
    border: none;
  }
  .show-8__span2,
  .show-8__span3 {
    display: none;
  }
  .show-9 {
    height: 495px;
    width: 274px;
    background-image: url(./image/548x1186-clooney-pitts.jpg);
  }
  .show-9 button {
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 90px;
    cursor: pointer;
    border: none;
  }
  .show-9__span2,
  .show-9__span3 {
    display: none;
  }
  .show-10 {
    height: 495px;
    width: 274px;
    background-image: url(./image/scroll-prime-target.jpg);
  }
  .show-10 button {
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 90px;
    cursor: pointer;
    border: none;
  }
  .show-10__span2,
  .show-10__span3 {
    display: none;
  }
}
