@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary-blue: #0071e3;
  --secondary-blue: #2997ff;
  --white: #ffffff;
  --black: #000000;
  --text-primary: 42px;
  --text-secondary: 22px;
  --text-tertiary: 18px;
  --text-large: 52px;
  --text-medium: 36px;
  --text-small: 30px;
  --button-padding: 12px 20px;
  --button-padding-small: 10px 16px;
  --button-padding-mobile: 8px 16px;
  --border-radius: 90px;
  --gap: 16px;
  --section-height: 692px;
  --section-height-tablet: 650px;
  --section-height-mobile: 500px;
  --product-height: 580px;
  --product-height-mobile: 490px;
  --show-height: 668px;
  --show-width: 1250px;
  --show-height-tablet: 368px;
  --show-width-tablet: 689px;
  --show-height-mobile: 495px;
  --show-width-mobile: 274px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 44px;
  width: 100vw;
}

.navigation a {
  text-decoration: none;
  color: var(--black);
  font-size: 12px;
  font-weight: 400;
}

.info {
  text-align: center;
  padding: var(--gap) 0;
}

.iphone-pro {
  background-image: url(./image/Iphone-pro-desktop.png);
  width: 100vw;
  height: var(--section-height);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: var(--white);
  align-items: center;
  padding-block: 55px 36px;
}

.iphone-pro__text1 {
  font-size: var(--text-primary);
}

.iphone-pro__text2 {
  font-size: var(--text-secondary);
}

.iphone-pro__buttons {
  padding-top: var(--gap);
}

.iphone-pro .button-blue {
  padding: var(--button-padding);
  border-radius: var(--border-radius);
  background-color: var(--primary-blue);
  border: var(--primary-blue);
  color: var(--white);
  cursor: pointer;
}

.iphone-pro .button-black {
  padding: var(--button-padding);
  border-radius: var(--border-radius);
  background-color: transparent;
  color: var(--secondary-blue);
  border: solid var(--secondary-blue);
  cursor: pointer;
}

.iphone-16 {
  background-image: url(./image/Iphone-16.png);
  width: 100vw;
  height: var(--section-height);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 55px 36px;
  margin-top: 12px;
}

.iphone-16__text1 {
  font-size: var(--text-primary);
}

.iphone-16__text2 {
  font-size: var(--text-secondary);
}

.iphone-16__buttons {
  padding-top: var(--gap);
}

.iphone-16 .button-blue {
  padding: var(--button-padding);
  border-radius: var(--border-radius);
  background-color: var(--primary-blue);
  border: var(--primary-blue);
  color: var(--white);
  cursor: pointer;
}

.iphone-16 .button-black {
  padding: var(--button-padding);
  border-radius: var(--border-radius);
  background-color: transparent;
  color: var(--secondary-blue);
  border: solid var(--secondary-blue);
  cursor: pointer;
}

.gift-magic {
  width: 100vw;
  height: var(--section-height);
  background-image: url(./image/Apple-sliced-logo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-block: 55px 36px;
  line-height: 0.8;
}

.gift-magic__text1 {
  font-size: var(--text-large);
  color: var(--black);
  font-weight: 600;
}

.gift-magic__text2 {
  font-size: 24px;
  color: var(--black);
  font-weight: 400;
  margin-block: var(--gap) 20px;
}

.gift-button {
  display: flex;
  column-gap: var(--gap);
}

.gift-button .button-blue {
  padding: var(--button-padding);
  color: var(--white);
  font-size: var(--gap);
  background-color: var(--primary-blue);
  border-radius: var(--border-radius);
  border: solid var(--primary-blue);
}

.product-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: var(--product-height);
  margin-bottom: 12px;
  gap: 12px;
}

.airpods-2 {
  background-image: url(./image/Airpods-2-desktop.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-block: 48px 58px;
}

.airpods-2__text1 {
  color: var(--white);
  font-size: var(--text-medium);
}

.airpods-2__text2 {
  color: var(--white);
  font-size: var(--text-tertiary);
}

.airpods-2__buttons {
  padding-top: 10px;
  display: flex;
  gap: var(--gap);
}

.airpods-2__buttons .button__blue {
  border: solid var(--primary-blue);
  background-color: var(--primary-blue);
  border-radius: var(--border-radius);
  color: var(--white);
  padding: var(--button-padding-small);
}

.airpods-2__buttons .button__transparent {
  border: solid var(--secondary-blue);
  background-color: transparent;
  padding: var(--button-padding-small);
  color: var(--secondary-blue);
  border-radius: var(--border-radius);
}

.macbook-air {
  background-image: url(./image/macbook-air-desktop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-block: 48px 58px;
}

.macbook-air__text1 {
  font-size: var(--text-medium);
  font-weight: 600;
}

.macbook-air__text2 {
  font-size: var(--text-tertiary);
  padding-block: 2px var(--gap);
}

.macbook-air__buttons {
  display: flex;
  gap: var(--gap);
  padding-top: 10px;
}

.macbook-air__buttons .button__blue {
  padding: var(--button-padding-small);
  border: solid var(--primary-blue);
  border-radius: var(--border-radius);
  background-color: var(--primary-blue);
  color: var(--white);
}

.macbook-air__buttons .button__transparent {
  padding: var(--button-padding-small);
  border: solid var(--secondary-blue);
  color: var(--secondary-blue);
  border-radius: var(--border-radius);
  background-color: transparent;
}

.apple-watch {
  background-image: url(./image/watch-desktop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-block: 48px 58px;
}

.apple-logo-watch {
  height: 40px;
  width: 161px;
}

.apple-watch img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.apple-watch__text1 {
  font-size: 15px;
  font-weight: 700;
}

.apple-watch__text2 {
  padding-block: 2px var(--gap);
  font-size: var(--text-tertiary);
}

.apple-watch__buttons {
  display: flex;
  gap: var(--gap);
}

.apple-watch__buttons .button__blue {
  border: solid var(--primary-blue);
  border-radius: var(--border-radius);
  background-color: var(--primary-blue);
  padding: var(--button-padding-small);
  color: var(--white);
}

.apple-watch__buttons .button__transparent {
  border: solid var(--secondary-blue);
  border-radius: var(--border-radius);
  background-color: transparent;
  padding: var(--button-padding-small);
  color: var(--secondary-blue);
}

.trade {
  background-image: url(./image/tradein-desktop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-block: 48px 58px;
}

.trade-image {
  width: 162px;
  height: 40px;
}

.trade-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.trade__text {
  padding-top: 2px;
  padding-bottom: var(--gap);
  font-size: var(--text-tertiary);
}

.trade__button {
  display: flex;
  column-gap: var(--gap);
}

.trade button {
  padding: var(--button-padding-small);
  background-color: var(--primary-blue);
  border: solid var(--primary-blue);
  color: var(--white);
  border-radius: var(--border-radius);
}

.small-business {
  background-image: url(./image/smallBusiness.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-block: 48px 58px;
}

.small-business__text1 {
  font-size: var(--text-small);
  font-weight: 600;
}

.small-business__text2 {
  font-size: var(--text-tertiary);
  padding-block: 2px var(--gap);
}

.small-business__button {
  display: flex;
  column-gap: var(--gap);
}

.small-business__button .button__blue {
  padding: var(--button-padding-small);
  border-radius: var(--border-radius);
  background-color: var(--primary-blue);
  border: solid var(--primary-blue);
  color: var(--white);
}

.deals {
  background-image: url(./image/carrierDeals.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-block: 48px 58px;
}

.deals__title {
  font-size: var(--text-small);
  font-weight: 600;
}

.deals__text {
  font-size: var(--text-tertiary);
  padding-block: 2px var(--gap);
}

.deals__button {
  display: flex;
  column-gap: var(--gap);
}

.deals__button button {
  color: var(--white);
  padding: var(--button-padding);
  border-radius: var(--border-radius);
  border: solid var(--primary-blue);
  background-color: var(--primary-blue);
}

.apple-tvshows {
  width: 100vw;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  column-gap: 15px;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}

.show-1,
.show-2,
.show-3,
.show-4,
.show-5,
.show-6,
.show-7,
.show-8,
.show-9,
.show-10 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);
  position: relative;
  height: var(--show-height);
  width: var(--show-width);
  font-size: 20px;
  flex-shrink: 0;
  scroll-snap-align: center;
}

.show-1 {
  background-image: url(./image/scroll-bad-sisters.png);
}

.show-2 {
  background-image: url(./image/scroll-shrinking.jpg);
}

.show-3 {
  background-image: url(./image/scroll-severance.jpg);
}

.show-4 {
  background-image: url(./image/scroll-mythic-quest.jpg);
}

.show-5 {
  background-image: url(./image/scroll-silo.jpg);
}

.show-6 {
  background-image: url(./image/scroll-ted-lasso.jpg);
}

.show-7 {
  background-image: url(./image/scroll-to-the-moon.jpg);
}

.show-8 {
  background-image: url(./image/scroll-slow-horses.jpg);
}

.show-9 {
  background-image: url(./image/scroll-clooney-pits.jpg);
}

.show-10 {
  background-image: url(./image/scroll-prime-target.jpg);
}

.show-1__contents,
.show-2__contents,
.show-3__contents,
.show-4__contents,
.show-5__contents,
.show-6__contents,
.show-7__contents,
.show-8__contents,
.show-9__contents,
.show-10__contents {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 45px;
  bottom: 40px;
}

.show-1 button,
.show-2 button,
.show-3 button,
.show-4 button,
.show-5 button,
.show-6 button,
.show-7 button,
.show-8 button,
.show-9 button,
.show-10 button {
  padding: var(--button-padding);
  font-size: 17px;
  border-radius: var(--border-radius);
  cursor: pointer;
  border: none;
  margin-right: 14px;
}

.show-1__span1,
.show-2__span1,
.show-3__span1,
.show-4__span1,
.show-5__span1,
.show-6__span1,
.show-7__span1,
.show-8__span1,
.show-9__span1,
.show-10__span1 {
  font-weight: 700;
}

.show-10__span3 {
  color: var(--black);
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.buttons a {
  height: 10px;
  width: 10px;
  background-color: var(--black);
  opacity: 0.6;
  border-radius: 50%;
  margin-inline: 8px;
}

@media only screen and (max-width: 768px) {
  .navigation {
    display: none;
  }

  .search-button {
    margin-left: auto;
  }

  .menu-button {
    display: block;
  }

  .info {
    padding-block: 12px;
  }

  .iphone-pro {
    background-image: url(./image/iphone-tablet.png);
    height: var(--section-height-tablet);
  }

  .iphone-16 {
    background-image: url(./image/iphone-16-tablet.png);
    height: var(--section-height-tablet);
  }

  .gift-magic {
    height: var(--section-height-tablet);
    padding-top: 50px;
  }

  .gift-magic__text1 {
    font-size: var(--text-primary);
  }

  .gift-magic__text2 {
    padding-block: 4px var(--gap);
  }

  .product-container {
    grid-auto-rows: var(--product-height-mobile);
  }

  .airpods-2 {
    padding-block: 42px;
  }

  .airpods-2__text1 {
    font-size: 26px;
    font-weight: 700;
  }

  .macbook-air {
    padding-block: 42px;
  }

  .macbook-air__text1 {
    font-size: 26px;
    font-weight: 700;
  }

  .apple-watch {
    padding-block: 42px;
    background-image: url(./image/watch-tablet.png);
  }

  .apple-watch__text2 {
    font-size: var(--text-tertiary);
  }

  .trade {
    padding-block: 42px;
  }

  .trade__text {
    font-size: var(--text-tertiary);
  }

  .small-business {
    padding-block: 42px;
  }

  .small-business__text1 {
    font-size: 26px;
    font-weight: 700;
  }

  .small-business__text2 {
    font-size: var(--text-tertiary);
  }

  .deals {
    padding-block: 42px;
  }

  .deals__title {
    font-size: 26px;
    font-weight: 700;
  }

  .deals__text {
    font-size: var(--text-tertiary);
  }

  .show-1,
  .show-2,
  .show-3,
  .show-4,
  .show-5,
  .show-6,
  .show-7,
  .show-8,
  .show-9,
  .show-10 {
    height: var(--show-height-tablet);
    width: var(--show-width-tablet);
  }

  .show-1 button,
  .show-2 button,
  .show-3 button,
  .show-4 button,
  .show-5 button,
  .show-6 button,
  .show-7 button,
  .show-8 button,
  .show-9 button,
  .show-10 button {
    padding: 8px 15px;
    font-size: 14px;
    border-radius: var(--border-radius);
    cursor: pointer;
    border: none;
  }
}

@media only screen and (max-width: 390px) {
  .navigation {
    display: none;
  }

  .info {
    padding: 0;
  }

  .iphone-pro {
    background-image: url(./image/iphone-mobile.png);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 36px;
    height: var(--section-height-mobile);
  }

  .iphone-pro__text1 {
    font-size: var(--text-small);
  }

  .iphone-pro__text2 {
    font-size: var(--text-tertiary);
  }

  .iphone-pro__buttons {
    font-size: 14px;
  }

  .iphone-16 {
    background-image: url(./image/iphone-16-mobile.png);
    height: var(--section-height-mobile);
  }

  .iphone-16__text1 {
    font-size: var(--text-small);
  }

  .iphone-16__text2 {
    font-size: var(--text-tertiary);
  }

  .iphone-16__buttons {
    font-size: 14px;
  }

  .gift-magic {
    height: var(--section-height-mobile);
  }

  .gift-magic__text1 {
    font-size: var(--text-small);
    font-weight: 700;
  }

  .gift-button {
    column-gap: 12px;
  }

  .button-blue {
    padding: var(--button-padding-mobile);
  }

  .product-container {
    grid-template-columns: 1fr;
  }

  .airpods-2 {
    padding-block: 46px;
  }

  .airpods-2__text1 {
    font-size: 20px;
  }

  .macbook-air {
    padding-block: 46px;
  }

  .macbook-air__text1 {
    font-size: 20px;
  }

  .macbook-air__buttons {
    column-gap: 12px;
  }

  .macbook-air__buttons .button__blue {
    padding: var(--button-padding-mobile);
  }

  .macbook-air__buttons .button__transparent {
    padding: var(--button-padding-mobile);
  }

  .apple-watch {
    padding-block: 46px;
    background-image: url(./image/watch-mobile.png);
  }

  .apple-watch__buttons {
    gap: 12px;
  }

  .trade {
    padding-block: 46px;
  }

  .trade__button {
    column-gap: var(--gap);
  }

  .trade button {
    padding: var(--button-padding-mobile);
  }

  .small-business {
    padding-block: 46px;
  }

  .small-business__button {
    column-gap: 12px;
  }

  .small-business__button .button__blue {
    padding: var(--button-padding-mobile);
  }

  .deals {
    padding-block: 46px;
  }

  .deals__button {
    column-gap: 12px;
  }

  .deals__button button {
    padding: var(--button-padding-mobile);
  }

  .show-1,
  .show-2,
  .show-3,
  .show-4,
  .show-5,
  .show-6,
  .show-7,
  .show-8,
  .show-9,
  .show-10 {
    height: var(--show-height-mobile);
    width: var(--show-width-mobile);
  }

  .show-1 {
    background-image: url(./image/548x1186-badsisters.jpg);
  }

  .show-2 {
    background-image: url(./image/548wx1186h-shrinking.jpg);
  }

  .show-3 {
    background-image: url(./image/548x1186-severance.jpg);
  }

  .show-4 {
    background-image: url(./image/548x1186-mythicquest.jpg);
  }

  .show-5 {
    background-image: url(./image/548x1186-silo.jpg);
  }

  .show-6 {
    background-image: url(./image/548x1186-tedlasso.jpg);
  }

  .show-7 {
    background-image: url(./image/548x1186-flytothemoon.jpg);
  }

  .show-8 {
    background-image: url(./image/548x1186-slowhorses.jpg);
  }

  .show-9 {
    background-image: url(./image/548x1186-clooney-pitts.jpg);
  }

  .show-10 {
    background-image: url(./image/scroll-prime-target.jpg);
  }

  .show-1 button,
  .show-2 button,
  .show-3 button,
  .show-4 button,
  .show-5 button,
  .show-6 button,
  .show-7 button,
  .show-8 button,
  .show-9 button,
  .show-10 button {
    padding: 8px 15px;
    font-size: 14px;
    border-radius: var(--border-radius);
    cursor: pointer;
    border: none;
  }

  .show-1__span2,
  .show-1__span3,
  .show-2__span2,
  .show-2__span3,
  .show-3__span2,
  .show-3__span3,
  .show-4__span2,
  .show-4__span3,
  .show-5__span2,
  .show-5__span3,
  .show-6__span2,
  .show-6__span3,
  .show-7__span2,
  .show-7__span3,
  .show-8__span2,
  .show-8__span3,
  .show-9__span2,
  .show-9__span3,
  .show-10__span2,
  .show-10__span3 {
    display: none;
  }
}
